.gestion-categorias-titulo {
  color: #3e499c;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.notification {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
