@use "../../../styles/variables" as var;

.egresos-formulario-subcategoria-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var.$color-principal-cliente;
  border-radius: 8px;
  background-color: var.$color-fondo-estudio;
}

.egresos-formulario-subcategoria {
  padding: 20px;
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center !important;
}

.egresos-icono-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20px;

  .egresos-boton-con-texto {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .egresos-texto-grabar {
      color: var.$color-principal-estudio;
      font-size: 1rem;
    }

    .egresos-texto-lista {
      color: var.$color-principal-cliente;
      font-size: 1rem;
    }
  }
}

.egresos-icono-agregar {
  font-size: 30px;
  color: var.$color-principal-estudio;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: white;
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }
}

.egresos-input-container {
  width: 100%;

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid var.$color-principal-cliente;
    border-radius: 4px;
    background-color: white !important;
    color: black !important;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: var.$color-principal-estudio;
    }
  }
}

.egresos-alerta-error {
  color: #c62828 !important;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
  position: relative !important;
  z-index: 2 !important;
  background-color: var.$color-fondo-estudio !important;
  border: 1px solid #c62828 !important;
}

.egresos-alerta-success {
  color: #2e7d32 !important;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
  position: relative !important;
  z-index: 2 !important;
  background-color: black !important;
  border: 1px solid #2e7d32 !important;
}

.egresos-boton-con-texto {
  .egresos-btn-lista {
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        transform: none;
      }
    }
  }

  .egresos-texto-lista {
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
