@use "../../../styles/variables" as var;

.saldos-panel {
  margin: 20px auto 0;
  background-color: var(--color-fondo-estudio);
  border: 1px solid var.$color-principal-cliente;
  border-radius: 12px;
  max-width: 70%;
  padding: 15px 0;
  position: relative;

  .saldos-titulo {
    color: var.$color-principal-cliente !important;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: -0.6em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a0a1a;
    padding: 0 30px;
    z-index: 2;
  }

  .saldos-container {
    padding: 4px 20px;
    margin-top: 10px;
  }

  .saldo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    white-space: nowrap;

    @for $i from 1 through 10 {
      &.nivel-#{$i} {
        span:first-child {
          padding-left: $i * 25px;
          margin-right: 50px;
        }

        span:last-child {
          margin-right: ($i - 1) * 25px;
          min-width: 120px;
          text-align: right;
        }

        @if $i == 1 {
          color: #8290e6 !important;
          font-weight: 400;
        } @else if $i == 2 {
          color: #6674d2 !important;
          font-weight: 500;
        } @else {
          color: white !important;
          font-weight: 400;
        }
      }
    }
  }
}
