# Ignora todo por defecto
*

# Excepciones: permite solo las carpetas dist, .vite y backend
!dist/
!.vite/
!backend/

# Ignorar archivos específicos dentro de las carpetas permitidas
dist/node_modules/
backend/node_modules/

git add dist/. vite/. backend/.