# Ignorar todo por defecto
*

# Excepciones: permitir solo estas carpetas
!dist/
!.vite/
!backend/

# Ignorar archivos específicos dentro de las carpetas permitidas
dist/node_modules/
backend/node_modules/

# Si necesitas ignorar más archivos dentro de las carpetas, añádelos aquí
